body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #000101;
  color: white
}

html, body {margin: 0; height: 100%; overflow: hidden}

.Header-text {
  text-align: center;
  position: fixed;
  top: 50%;
  z-index: -1;
  color: black;
  text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
  margin-left: 10%;
}

.Header {
  text-align: left;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0px;
}

.Hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Hero-img {
  z-index: -2;
}

#email {
  width: 2rem;
}

#insta {
  width: 2rem;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 96%;
  text-align: center;
  padding-bottom: 2%;
  justify-content: space-between;
  align-items: center;
  background-color: #000101;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
}

.audio-player {
  font-family: 'Cutive Mono' !important;
  font-size: x-large !important;
  background-color: #dedede00; 
  width: fit-content !important;
  filter: invert(100%);
  display: inline-block !important;
  padding: 0.5rem;
  height: fit-content !important;
  color: black;
}

#footer-text {
  padding-left: 1rem;
}

p {
  font-family: 'Cutive Mono' !important;
  
}

a {
  font-family: 'Cutive Mono' !important;
  color: white;
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkClass {
  position: fixed;
  width: 100%;
  text-align: left;
  padding-left: 2%;
}

.link {
  font-size: 2.5em;
  background: #000101;
}

#link1 {
  top: 12%
}

#link2 {
  top: 30%
}

#link3 {
  top: 48%
}

#link4 {
  top: 66%
}

#link5 {
  top: 84%
}

#ruff-home {
  text-align: right;
    position: fixed;
    top: 2%;
    width: 100%;
}

#ruff-home-name {
  padding-right: 5%;
  letter-spacing: 0.5em;
}

#hero-link {
  display: flex;
  justify-content: center;
}




/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 517px) {
    #Hero-img {
      width: 140%;
    }
}

@media only screen and (max-width : 400px) {
  .audio-player { 
    font-size: larger !important;
  }
}


@media only screen and (max-width : 374px) {
  .audio-player { 
    font-size: medium !important;
  }
}

@media only screen and (max-width : 303px) {
  .audio-player { 
    font-size: small !important;
  }
}

@media only screen and (max-width : 280px) {
  .audio-player { 
    font-size: x-small !important;
  }
}